
.Left-pic{
  border-bottom-right-radius: 25px;
  margin: auto;
}
.card_col2{
  flex-grow: 3 !important;
  padding-top: 2rem;
}

.card{
  border: none !important;
}
.designation{
  text-align: left;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-family: 'Padauk', sans-serif;

}
.card-text01{
  text-align: left;
  font-size: 1.2rem;
  line-height: 32px;
  letter-spacing: 0.5px;
}

.Statement_name{
  font-size: 2rem;
  font-weight: bold;
  text-align: initial;
  margin-bottom: 0.625rem;
}
.Card_Box{
  padding: 2rem 5rem;
}
.image_box{
  /* width: 200px; */
  height: auto;
}
.image_box >img{
  border-bottom-left-radius: 50px;
  min-height: 400px;
}
@media(min-width:1000px){

    .Card_Box{
      padding:2rem 5rem;
      width: 100%;
      height: auto;
      /* border: 1px solid black; */
      font-family: 'Padauk', sans-serif;
    }
    
}
@media(max-width:640px){
  .Card_Box{
    padding: 2rem;
  }
}
@media(max-width:1024px){
  .card_row{
    flex-direction: column !important;
  }
  .image_box{
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
