.images{

  /* width: 33rem;
 
  border-radius: 50%;
  height: 19rem; */
}
.paragraph{
  font-family: 'Padauk', sans-serif;
}
.paragraph > h3{
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: initial;
  margin-bottom: 0.625rem;
}


.maincontainer{
  display: flex;
  padding: 2rem;
}
.subcontainer{
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}
@media(max-width:1024px){
  .maincontainer{
    flex-direction: column;
  }
}
@media(max-width:640px){
  .subcontainer{
    flex-direction: column;
  }
}