.Main-bottom-row{
    display: block;
    padding: 15vh 10vw;
}
.Bottom_main{
    background-color: rgb(229, 238, 238);
}

.bottom-img >img{
    width: 100%;
    border-radius: 1rem;
}
.bottom_row2{
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 50vw;
}
 .bottom_row3, .bottom_row4{
  margin-top: 2rem;
}


@media(max-width:1000px){
    .Bottom_main{
      flex-direction: column;
    }
    .Main-bottom-row{
      padding: 5vh 15vw;
    }
    .bottom_row2{
      width: 100%;
    }

  }
