
.navbar{
  position: relative;
  transition: all 1s ease;
  z-index: 1;
}
.fade_in{
  transition: opacity 1s ease;
}
.fade_out{
  opacity: 0;
  transition: opacity 1s ease;
}
@media(min-width:1000px){
  .navbar{
    min-height: 100px;
    padding: 5vh 10vw;
    background-color: transparent;
  }
  .nav__right{
    margin-right: 50px;
  }
  .nav__middle{
    margin: 0 auto;
  }
  .nav__left{
    margin-left: 50px;
  }
  .nav__active{
    color: black;
  }
  .nav-link{
    font-size: 1rem;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }
}